<ion-header class="ion-no-border">
  <ion-toolbar fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      mode="ios"
      showCancelButton="never"
      [placeholder]="'buscar producto...'"
      (ionChange)="searchProducts($event)"
    >
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="start" name="cart-outline"></ion-icon>
        <span></span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed">
    <ion-refresher-content
      pullingText="{{ 'PULL_TO_REFRESH' }}"
      refreshingText="{{ 'REFRESHING' }}"
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <!-- <div *ngIf="isLoadingViewVisible">
      <ion-row>
        <ion-col size="6" *ngFor="let item of [].constructor(20)">
          <div class="skeleton-wrapper">
            <ion-skeleton-text animated class="skeleton-img" style="width: 100%"></ion-skeleton-text>
            <ion-skeleton-text animated class="skeleton-title" style="width: 100%"></ion-skeleton-text>
            <div class="flex flex-row justify-content-space-between mt-md">
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 15%"></ion-skeleton-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div> -->

    <ion-list>
      <ion-row>
        <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="3" *ngFor="let product of productsFinded">
          <!-- <app-shop-item [item]="item" [routerLink]="['/1/home/items/' + item.slug]">
          </app-shop-item> -->
          <ion-card
            button
            [style.box-shadow]="styles?.boxShadow"
            [style.border-radius]="styles?.radius"
            [style.border]="styles?.border"
            [style.margin]="styles?.margin"
            class="full-width ion-no-margin cardProduct"
          >
          <ion-card-content class="ion-text-center">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <div [style.padding]="styles?.padding" class="image-container">
                    <div class="bg-img">
                      <ion-img src={{product.image}}></ion-img>
                    </div>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <ion-text color="dark">
                    <p class="link ellipsis text-medium">{{product.name}}</p>
                  </ion-text>
                </ion-col>
                <ion-col size="4">
                  <!-- <bar-rating rate="5" [readOnly]="true" [max]="5">
                    <ng-template ratingActive>
                      <ion-icon style="font-size: 12px;" name="star" color="warning"></ion-icon>
                    </ng-template>
                    <ng-template ratingInactive>
                      <ion-icon style="font-size: 12px;" name="star" color="medium"></ion-icon>
                    </ng-template>
                  </bar-rating> -->
                  <ion-text color="dark">
                    <p class="ion-no-margin">
                      <span class="bold">{{product.bestPriceFormated}}</span><br>
                      <small>
                        <ion-text color="medium">
                          <s class="bold">
                            {{product.listPriceFormated}}
                          </s>
                        </ion-text>
                      </small>
                    </p>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <div class="footerCard">
            <ion-button>Agregar a carrito</ion-button>
          </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>

  <!-- <app-footer class="hide-xs-up show-lg-up"></app-footer> -->
</ion-content>
